<div class="additional-buttons" th:fragment="additional-buttons">
    <div class="checkbox-container">
        <div>
            <label for="statistic-checkbox">Include statistics</label>
            <input id="statistic-checkbox" type="checkbox">
        </div>
        <div>
            <label for="shelter-checkbox">Include shelters</label>
            <input id="shelter-checkbox" type="checkbox">
        </div>
    </div>
    <button id="toggle-modal-button-choose-appartaments" class="btn btn-primary">Choose appartaments</button>
    <button id="toggle-modal-button-get-recommendations" class="btn btn-primary">Get recommendation</button>
</div>