<div class="geoapify-tab-control" th:fragment="geoapify-tab-control">
    <div id="search-group" class="search-group hidden">
        <input id="search-input" class="search-input form-control" type="text" placeholder="Enter your city, town or suburb here">
    </div>
    <div id="radius-group" class="radius-group hidden">
        <input id="radius-input" class="radius-input form-control" type="number" placeholder="Radius(m)">
    </div>
    <div id="categories-dropdown" class="dropdown-container">
        <span id="categories-dropdown-label" class="dropdown-label">Categories</span>
        <div id="categories-selected-container" class="selected-container"></div>
        <select id="categories-select" class="filter-select form-control"></select>
    </div>
    <div id="conditions-dropdown" class="dropdown-container">
        <span id="conditions-dropdown-label" class="dropdown-label">Conditions</span>
        <div id="conditions-selected-container" class="selected-container"></div>
        <select id="condition-select" class="filter-select form-control"></select>
    </div>

</div>
