#leaflet-map {
    width: 100%;
    height: 95%;
    margin-left: 1%;
    border-radius: 10px;
}

.leaflet-map-container {
    margin-top: 3.5%;
    display: flex;
    position: relative;
    height: 96vh;
    width: 100%;
}

.leaflet-controls {
    margin-left: 1%;
    margin-right: 1%;
    width: 20%;
    height: 95%;
}

.current-position-btn {
    width: 100%;
    justify-content: center;
}

.tabs {
    margin-top: 2%;
}

.tabs > .tab-content > div {
    display: block;
}

.hidden {
    display: none !important;
}

.leaflet-controls .tabs .tab-control-button {
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.21);
    color: rgba(0, 0, 0, 0.8);
}

.nav-link .tab-control-button .active {
    color: #ED2553;
    border: 3px solid  #ED2553 !important;
}

.leaflet-controls .tabs li {
    margin: 1%;
}

.leaflet-controls .tabs .tab-control-button:hover {
    color: #ED2553;
    border-color: #ED2553;
}

.logout-button {
    background-color: transparent !important;
    border: 3px solid #ED2553 !important;
    color: rgba(0, 0, 0, 0.8);
}

.logout-button:hover {
    background-color: #ED2553 !important;
}

.control-buttons > button {
    margin-bottom: 1%;
}

.tab-pane .geoapify-search-control-rect-block > * {
    margin-top: 2%;
    width: 97%
}

.tab-pane .geoapify-search-control-rect-block select {
    display: inline-block;
}

.tab-pane .geoapify-tab-control {
    display: block;
    width: 100%;
    margin-bottom: 2%;
}

.selected-el-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.remove-selected {
    margin: 0;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
    border-radius: 20px;

    background: none;
    color: red;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.remove-selected:hover {
    opacity: 1;
}

.remove-selected:before, .remove-selected:after {
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.remove-selected:before {
    transform: rotate(45deg);
}

.remove-selected:after {
    transform: rotate(-45deg);
}

.label-dropdown-filter {
    border-bottom: 1px solid #aaa;
}

.search-group,
.radius-group,
.dropdown-container {
    width: 96%;
    margin-left: 1%;
    margin-top: 3%;
}
.search-group > *,
.radius-group > *,
.dropdown-container > * {
    display: block;
    margin-top: 2%;
}

.tabs .nav-link.tab-control-button.active{
    color: red !important;
    border-color: red !important;
}

.tabs > .tab-content > div .additional-buttons {
    display: block;
    margin-left: 1%;
    width: 96%;
}

.tabs > .tab-content > div .additional-buttons > * {
    width: 100%;
    margin-top: 1%;
}

.tabs > .tab-content > div .additional-buttons > .checkbox-container {
    width: 100%;
}

.tabs > .tab-content > div .additional-buttons > .checkbox-container > * {
    margin-top: 1%;
    display: block;
}

.tabs > .tab-content > div .additional-buttons > .checkbox-container div {
    display: flex;
    justify-content: space-between;
}